@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
    @include addons;
    @include mytheme;

    .v-ui{
        background: url("images/parchment-paper-texture-picture-free-graph_1173989.jpg") no-repeat;
    }

    .v-button.NAVBUTTON{
        background: none;
        box-shadow: none;
        border: 0;
    } 

    .v-panel.BANNERPANEL{
        background: white;
        background-image: url("images/vlogo.png");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .v-panel{
        background: none;
    }

    .v-panel-content{
        text-align: center;
    }

    .v-label.TITLE{
        color: black;
        font-size: xx-large;
        font-weight: bold;
    }

    .v-label{
        font-size: 14px;
        font-weight: bold;
    }
    
    .v-label.PICLABEL{
        background-color: coral;
    }

    .v-button{
        font-size: 14px;
    }
    
    .v-textfield{
        width: 220px;
    }
    
    .v-filterselect{
        width: 220px;
    }
    
    .v-panel{
        background-color: #ffffff;
    }
}
